/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', serif;
    margin: 0px;
}

main {
  margin: 2rem 40px;
  overflow: scroll;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.2rem 20px 0.2rem 5px;
  text-align: left;
}

th {
  font-weight: bold;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

table {
  border-bottom: 4px solid #222;
}
